@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: $background;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;

    .center-logo {
        text-align: center;
    }
}