h1 {
    text-align: center;
    color: map-get($coloresdeletras, letrashs);
    margin-bottom: 50px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: map-get($coloresdeletras, letrashs);
    margin-bottom: 50px;
    margin-top: 50px;
}

p {
    color: map-get($coloresdeletras, letrasps);
    text-align: center;
}

.escuchapar {
    padding: 20px 50px;
    margin: 0;

}

.discografia {
    img {
        transition: 300ms ease-in-out;
        margin: 5px 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-transition: 300ms ease-in-out;
        -moz-transition: 300ms ease-in-out;
        -ms-transition: 300ms ease-in-out;
        -o-transition: 300ms ease-in-out;
    }

    .songs-destacados {
        @include flex1;

        img:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }

    .songs-2024 {
        @extend .songs-destacados;

        img:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }

    .songs-2023 {
        @extend .songs-destacados;

        img:hover {
            transform: scale(1.1);
        }
    }

    .songs-2022 {
        @extend .songs-destacados;

        img:hover {
            transform: scale(1.1);
        }
    }

    .songs-2021_2020 {
        @extend .songs-destacados;

        img:hover {
            transform: scale(1.1);
        }
    }
}

.servicios {
    .produccion {
        @include grid1;
    }

    .imgprodu {
        grid-area: div1;
        margin-left: 20px;
    }

    .h2produ {
        text-align: left;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .parrprodu1 {
        grid-area: div2;
        padding: 20px 400px 20px 50px;
    }

    .parrprodu2 {
        grid-area: div3;
        text-align: justify;
        margin-top: 20px;
        padding: 20px 400px 20px 50px;
    }

    .produpartext {
        text-align: justify;
        margin-left: 40px;
    }

    .produproductlist {
        grid-area: div4;
        color: #E9E8E8;
        margin-top: 20px;
        padding: 20px 30px 20px 0px;
    }

    .h3produproducts {
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .produ_list_items {
        list-style-type: circle;
        margin-left: 50px;
        padding: 2px;
    }

    .mezcla {
        @include grid2;
    }

    .imgmezcla {
        grid-area: div1;
        margin-right: 20px;
    }

    .h2mezcla {
        text-align: right;
        margin-right: 40px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .parrmezcla1 {
        grid-area: div2;
        padding: 20px 20px 20px 20px;
    }

    .parrmezcla2 {
        grid-area: div3;
        text-align: justify;
        margin-top: 20px;
        margin-top: 20px;
        padding: 20px 30px 20px 50px;
    }

    .mezclapartext {
        text-align: justify;
        margin-right: 40px;
    }

    .mezclaproductlist {
        grid-area: div4;
        color: #E9E8E8;
        margin-top: 20px;
        padding: 20px 30px 20px 0px;
    }

    .h3mezclaproducts {
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .mezcla_list_items {
        list-style-type: circle;
        margin-left: 50px;
        padding: 2px;
    }

    .master {
        @extend .produccion;

        .imgmaster {
            grid-area: div1;
            margin-left: 20px;
        }

        .h2master {
            text-align: left;
            margin-left: 40px;
        }

        .parrmaster1 {
            grid-area: div2;
        }

        .parrmaster2 {
            grid-area: div3;
            text-align: justify;
            margin-top: 20px;
        }

        .masterpartext {
            text-align: justify;
            margin-left: 40px;
        }

        .masterproductlist {
            grid-area: div4;
            color: #E9E8E8;
            margin-top: 20px;
        }

        .h3masterproducts {
            margin-left: 20px;
        }

        .master_list_items {
            list-style-type: circle;
            margin-left: 50px;
        }
    }

    .grabacion {
        @extend .mezcla;
    }

    .edicion {
        @extend .produccion;
    }

    .vocalcoach {
        @extend .mezcla;
    }
}

.acerca {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .acercademi-sec1 {
        max-width: 1120px;
        display: flex;

        .acercademipic {
            width: 100%;
        }
    }

    .acercademi-sec2 {
        display: flex;
        margin: 50px 0;

        .acercademi-sec2-card {
            margin: 0 10px;

            h3 {
                color: #E9E8E8;
                font-size: 22px;
            }

            .acercademi-sec2-card-list {
                color: #979797;
            }
        }
    }

    .logos {
        ul {
            display: flex;
            width: 100%;

            .imgprodu {
                margin-left: 10px;
                width: 70px;
                height: 70px;
            }
        }
    }

}

.contacto {
    .container__form {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 20px 0;
        margin-top: 100px;

        .form-contact {
            background-color: #15172b;
            border-radius: 20px;
            box-sizing: border-box;
            height: auto;
            padding: 20px;
            width: 100%;
            max-width: 680px;

            .title-contact {
                color: #eee;
                font-family: sans-serif;
                font-size: 36px;
                font-weight: 600;
                margin-top: 30px;
            }

            .subtitle-contact {
                color: #eee;
                font-family: sans-serif;
                font-size: 16px;
                font-weight: 600;
                margin-top: 10px;
            }

            .input-container-contact {
                height: 50px;
                position: relative;
                width: 100%;
                margin-top: 40px;

                .input-contact {
                    background-color: #303245;
                    border-radius: 12px;
                    border: 0;
                    box-sizing: border-box;
                    color: #eee;
                    font-size: 18px;
                    height: 100%;
                    outline: 0;
                    padding: 4px 20px 0;
                    width: 100%;
                }

                .cut {
                    background-color: #15172b;
                    border-radius: 10px;
                    height: 20px;
                    left: 20px;
                    position: absolute;
                    top: -20px;
                    transform: translateY(0);
                    transition: transform 200ms;
                    width: 76px;
                }

                .cut-short {
                    width: 120px;
                }

                .input-contact:focus~.cut,
                .input-contact:not(:placeholder-shown)~.cut {
                    transform: translateY(8px);
                }

                .placeholder-contact {
                    color: #65657b;
                    font-family: sans-serif;
                    left: 20px;
                    line-height: 14px;
                    pointer-events: none;
                    position: absolute;
                    transform-origin: 0 50%;
                    transition: transform 200ms, color 200ms;
                    top: 20px;
                }

                .input-contact:focus~.placeholder-contact,
                .input-contact:not(:placeholder-shown)~.placeholder-contact {
                    transform: translateY(-30px) translateX(10px) scale(0.75);
                }

                .input-contact:not(:placeholder-shown)~.placeholder-contact {
                    color: #808097;
                }

                .input-contact:focus~.placeholder-contact {
                    color: #08d;
                }
            }

            .submit-contact {
                background-color: #08d;
                border-radius: 12px;
                border: 0;
                box-sizing: border-box;
                color: #eee;
                cursor: pointer;
                font-size: 18px;
                height: 50px;
                margin-top: 38px;
                text-align: center;
                width: 100%;
            }

            .submit-contact:active {
                background-color: #06b;
            }
        }
    }
}




@media only screen and (max-width: 768px) {
    .servicios {
        display: flex;
        flex-direction: column;

        s .produccion,
        .mezcla,
        .master,
        .grabacion,
        .edicion,
        .vocalcoach {
            grid-template-columns: 1fr;
            grid-template-areas:
                "div1"
                "div2"
                "div3"
                "div4";
        }

        .h2produ,
        .h2mezcla,
        .h2master,
        .h2grabacion,
        .h2edicion,
        .h2vocalcoach {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }

        .imgprodu,
        .imgmezcla,
        .imgmaster,
        .imggrabacion,
        .imgedicion,
        .imgvocalcoach {
            margin-left: auto;
            margin-right: auto;
        }

        .parrprodu1,
        .parrprodu2,
        .parrmezcla1,
        .parrmezcla2,
        .parrmaster1,
        .parrmaster2,
        .parrgrabacion1,
        .parrgrabacion2,
        .parredicion1,
        .parredicion2,
        .parrvocalcoach1,
        .parrvocalcoach2 {
            padding: 20px;
        }

        .produproductlist,
        .mezclaproductlist,
        .masterproductlist,
        .grabacionproductlist,
        .edicionproductlist,
        .vocalcoachproductlist {
            padding: 20px;
        }

        .h3produproducts,
        .h3mezclaproducts,
        .h3masterproducts,
        .h3grabacionproducts,
        .h3edicionproducts,
        .h3vocalcoachproducts {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }

        .produ_list_items,
        .mezcla_list_items,
        .master_list_items,
        .grabacion_list_items,
        .edicion_list_items,
        .vocalcoach_list_items {
            margin-left: 20px;
            padding: 2px;
        }
    }
}